<h1>投稿一覧</h1>

<% @spot_images.each do |spot_image| %>
  <div>
    <%= image_tag spot_image.get_image %>
    <p>名前:<%= spot_image.shop_name %></p>
    <p>説明:<%= spot_image.caption %></p>
  </div>
<% end %>