<div class="container my-5">
  <div class="about-page mx-auto">

    <h1 class="about-title mb-4">About</h1>

    <p class="about-lead text-center mb-5">
      地域のひっそりとした良いお店を<br>
      気軽に共有できるレビューサイトです。
    </p>

    <!-- 機能紹介 -->
    <div class="row text-center feature-box">

      <div class="col-md-4 mb-4">
        <i class="fa-solid fa-map-location-dot feature-icon"></i>
        <h3 class="feature-title">スポット投稿</h3>
        <p class="feature-text">写真・説明・タグをつけて投稿できます。</p>
      </div>

      <div class="col-md-4 mb-4">
        <i class="fa-solid fa-magnifying-glass feature-icon"></i>
        <h3 class="feature-title">検索機能</h3>
        <p class="feature-text">タイトルやタグで穴場スポットを探せます。</p>
      </div>

      <div class="col-md-4 mb-4">
        <i class="fa-solid fa-users feature-icon"></i>
        <h3 class="feature-title">コミュニティ</h3>
        <p class="feature-text">いいね・コメントで交流できます。</p>
      </div>
    </div>
  </div>
</div>
