<% if local_assigns[:context] == :show %>
<p class="card-title">
  <%= link_to(spot_path(spot.id), class:"text-dark") do %>
    <strong><i class="fa-solid fa-flag"></i></strong> <%= spot.zipcode %>
  <% end %>
</p>
<% end %>

<p class="card-title">
  <span><i class="fa-solid fa-location-dot"></i><%= spot.address %></span>
</p>