<div class="input-group mb-3 mt-4">
  <div class="input-group-prepend">
    <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-tenge-sign"></i></span>
  </div>
  <%= f.text_field :zipcode, id: "spot_zipcode", class: "form-control", placeholder: "郵便番号" %>
</div>

<div class="input-group mb-3 mt-4">
  <div class="input-group-prepend">
    <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-location-dot"></i></span>
  </div>
  <%= f.text_field :address, id: "spot_address", class: "form-control", placeholder: "住所" %>
</div>