<p class="card-text mb-2">
  <i class="fa-solid fa-location-dot text-danger"></i>
  <% if spot.zipcode.present? %>
    <span class="ms-1">〒<%= spot.zipcode %></span>
  <% end %>
  <span class="ms-1"><%= spot.address %></span>
</p>