
  <% if spot.zipcode.present? %>
    <p class="card-title">
      <strong><i class="fa-solid fa-flag"></i></strong> 〒<%= spot.zipcode %>
    </p>
  <% end %>

  <p class="card-title">
    <%= link_to "https://www.google.com/maps/search/?api=1&query=#{spot.address}", target: "_blank", class: "text-dark" do %>
      <span><i class="fa-solid fa-location-dot"></i><%= spot.address %></span>
    <% end %>
  </p>
