<div class="container">
  <h1><%= @user.name %> さんのプロフィール</h1>
  <%= render "introduction", user: @user %>
  <hr>

  <h1><%= @user.name %>さんの投稿一覧</h1>
  <hr>
  <%= render "profile", user: @user %>
</div>